# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
App/.expo/
App/dist/
App/web-build/
App/expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
App/npm-debug.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Core
Core/bin
Core/obj
Core/.vs

.vs/
bin/
obj/

*.vs/
*bin/
*obj/
